# Ignore all files per default
*

# Check all subfolders for rules
!*/

# track this file
!.gitignore

# track specific folders
!herbstluftwm/**
!eww/**
!fish/config.fish
!vifm/**
!alacritty/**
!kitty/**

# ignore unneeded folders/files
eww/otherConfigs/
vifm/vifminfo*
