# Ignore all files per default
*

# Check all subfolders for rules
!*/

# track this file
!.gitignore

# track herbstluftwm and eww folders
!herbstluftwm/**
!eww/**

# ignore the otherconfigs folder
eww/otherConfigs/
