#!/usr/bin/env bash
set -e

if command -v pacman >/dev/null; then
  sudo pacman -Sy --needed --noconfirm \
    {{ range .packages.arch.pacman }}{{ . }} {{ end }}

  if command -v yay >/dev/null; then
    yay -Sy --needed --noconfirm \
      {{ range .packages.arch.yay }}{{ . }} {{ end }}
  fi
else
  echo "This script is intended for Arch Linux systems. Exiting."
  exit 1
fi

# Set fish as default shell
chsh -s /usr/bin/fish

# Start playerctl daemon if present
if command -v playerctld >/dev/null; then
  playerctld daemon
fi

# Enable firewall
sudo ufw enable

# Download fisher plugins
/usr/bin/fish -c "fisher update"

sudo systemctl enable --now sddm.service
