#!/usr/bin/env bash
set -e

# install packages based on package manager
if command -v pacman >/dev/null; then
  sudo pacman -Sy --needed --noconfirm {{ range .packages.common }}{{ . }} {{ end }}{{ range .packages.linux.arch.pacman }}{{ . }} {{ end }}
  if command -v yay >/dev/null; then
    yay -Sy --needed --noconfirm {{ range .packages.linux.arch.yay }}{{ . }} {{ end }}
  fi
elif command -v apt >/dev/null; then
  sudo apt update
  sudo apt install -y {{ range .packages.common }}{{ . }} {{ end }}{{ range .packages.linux.debian.apt }}{{ . }} {{ end }}
fi


sudo usermod -aG video,input $USER # add user to groups
sudo usermod -aG docker $USER || true # add user to groups which might not exist on first run
sudo ufw enable
chsh -s /usr/bin/fish       # set fish as default shell
playerctld daemon       # start playerctl
sudo npm install -g tree-sitter-cli # install tree-sitter-cli globally because apt does not have the latest version

# Will fail at first because this needs to be manually installed:
betterlockscreen -u ~/.config/wallpaper/mountain.jpg || true # render lockscreen image

# Add flathub repository to flatpak
flatpak remote-add --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
