[Unit]
Description=Run battery health check every 10 minutes

[Timer]
OnBootSec=30m
OnUnitActiveSec=1m
Persistent=true

[Install]
WantedBy=timers.target
