[mgr]
ratio          = [ 2, 4, 3 ]
sort_by        = "alphabetical"
sort_sensitive = false
sort_reverse 	 = false
sort_dir_first = true
sort_translit  = false
linemode       = "none"
show_hidden    = true
show_symlink   = true
scrolloff      = 5
mouse_events   = [ "click", "scroll" ]
title_format   = "Yazi: {cwd}"

[plugin]
prepend_previewers = [
	# Archive previewer
	{ mime = "application/*zip",            run = "ouch" },
	{ mime = "application/x-tar",           run = "ouch" },
	{ mime = "application/x-bzip2",         run = "ouch" },
	{ mime = "application/x-7z-compressed", run = "ouch" },
	{ mime = "application/x-rar",           run = "ouch" },
	{ mime = "application/vnd.rar",         run = "ouch" },
	{ mime = "application/x-xz",            run = "ouch" },
	{ mime = "application/xz",              run = "ouch" },
	{ mime = "application/x-zstd",          run = "ouch" },
	{ mime = "application/zstd",            run = "ouch" },
	{ mime = "application/java-archive",    run = "ouch" },
]

[opener]
open = [
    { run = "xdg-open %s", desc = "Open" },
    { run = "firefox %s", desc = "Open with Firefox"},
    { run = "nvim %s", block = true, desc = "Open with Neovim" },
]
xournal = [
    { run = "xournalapp %s", orphan = true, desc = "Open with Xournal++"}
]


[open]
prepend_rules = [
    { url = "*.xopp", use = "xournal" },
    { url = "*.pdf", use = [ "open", "xournal", "reveal" ] },
]
