/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 *
 * Colors
 **/

* {
    background:     #272E2F;
    background-alt: #3A3A3A;
    foreground:     #DAD1BE;
    selected:       #A7C080;
    active:         #35A77C;
    urgent:         #E67E80;
}
